@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    font-family:Roboto, sans-serif;
}
.container{
    margin: 20px 30px;
    height: 100%;
}

.expense-tracker{
    display: flex;
    padding: 0 15px;
    /* justify-content: ; */
    align-items: center;
    color: #fff;
    /* font-size: 14px; */
    height: 14%;


background-color: rgb(25, 118, 210)
/* background-color: darkcyan; */

}
.expense-tracker span {
    margin: 0 550px;
}

.expense-tracker-btn {
    background-color: transparent;
    color: #fff;
    border: transparent;
    padding: 5px;
    width: 5%;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    display: none;   
}
.add-money-btn{
    background-color: transparent;
    color: #fff;
    border: transparent;
    padding: 9px;
    width: 9%;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}
.expense-tracker-btn:hover, .add-money-btn:hover{
    background-color: rgb(6, 93, 179);

}
form input {
    width: 50%;

}
#add-salary {
     position: relative;
    margin: 10px 400px;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    padding: 22px;
    display: none ; 
}
#total-money{
    padding: 12px;

}
.enter-amount {
    padding: 12px;
}
.submit{
    padding: 5px;
    cursor: pointer;
}
.btn-close, .salary-close-btn {
    position: absolute;
    border: none;
    color: red;
    top: 0;
    right: 0;
    /* background-color: #fff; */
    background: transparent;
    outline: none;
    cursor: pointer;
}



#add-transaction {
    position: relative;
    margin: 10px 400px;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    padding: 22px;
    display: none ; 
}

.enter-transaction{
    padding: 12px;
}

.enter-transaction-details{
    padding: 12px;
}

.salary-credited{
    /* opacity: .7; */
    color: grey;
    border: 2px solid green;
    margin: 30px auto;
    padding: 12px;
    /* display: flex; */
    justify-content: space-between;
    display: none;
}
.salary-discredited{
    color: grey;
    border: 2px solid lightcoral;
    margin: 30px auto;
    padding: 12px;
    /* display: flex; */
    justify-content: space-between;
    display: none;
}